@import '../../css/_variables';
@import '../../css/_w3';

.header {
    position: fixed;
    top: 0;
    @extend .w3-teal;
    display: flex;
    color: white;
    width: 100%;
    text-align: center;
    flex-direction: column;
    line-height: 1.2;
    .logo {
        @extend .w3-xxxlarge;
        @extend .cursive;
        font-weight: 700;
        text-decoration: none;
    }
    .desc {
        @extend .w3-medium;
        @extend .pt-sans-caption;
    }
}